:root {
  --bg-main: #020617;
  --bg-card: rgba(255, 255, 255, 0.04);
  --border-glass: rgba(255, 255, 255, 0.12);

  --text-main: #e5e7eb;
  --text-muted: #94a3b8;

  --primary: #6366f1;
  --secondary: #22d3ee;

  --danger: #ef4444;
  --success: #22c55e;

  --radius: 14px;
  --blur: blur(14px);
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: radial-gradient(circle at top, #020617, #000);
  color: var(--text-main);
}
